



# Diretórios e arquivos gerados pelo Composer (PHP)
vendor/

# Diretórios e arquivos gerados pelo npm/yarn (Node.js)
node_modules/

# Arquivo de variáveis de ambiente
.env
# Arquivo onde você armazena suas variáveis de ambiente sensíveis

# Arquivos de log
*.log

# Diretórios de cache e logs
cache/
logs/

# Diretórios e arquivos temporários do sistema
tmp/
temp/
*.tmp
*.temp

# Arquivos gerados por IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de build e distribuição
dist/
build/
*.zip
*.tar.gz

# Diretórios e arquivos de testes
coverage/
*.seed

# Diretórios de cache do framework 
bootstrap/cache/
storage/framework/cache/

# Arquivos gerados por ferramentas de build 
*.bundle.js
*.map

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Outros arquivos e diretórios que você não quer versionar
*.bak
*.swp